<h1> Patients </h1>
<ul>
<% @patients.each do |patient| %>
  <li>Name: <%= link_to patient.name, patient_path(patient) %> Number of Appointments: <%= patient.appointments.count %></li>
<br>
<% end %>
</ul>
    
    
    
    <%# @patients.each do |patient|%>
    <%# link_to patient.name, patient_path(patient) %>
    
    <%# patient.appointments.count %>
    <%# end %>