<ul>
<% @doctor.appointments.each do |appointment| %>
    <li><%=  link_to appointment.patient.name, patient_path(appointment.patient) %> - 
    <%= appointment.formatted_datetime%>
     </li>
<% end %>
</ul>