<h1> Appointment </h1>

    <p>Appointment at: <%= @appointment.date %><%= @appointment.time %> Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %> <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></p> 